body {
    margin: 0;
    width: 100%;
    height: 1282px;
    font-family: Arial;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.title {
    font-family: Arial;
    font-size: 80px;
    padding-left: 101px;
    padding-top: 61px;
}

.title_color_blue {
    color: #4BCAFF;
}

.header {
    background-color: #35444F;
    color: white;
    margin: 0 100px 0 100px;
    height: 70px;
    overflow: hidden;
}

.header_menu {
    margin: 0 auto;
    padding-left: 170px;
    padding-right: 170px;
    overflow: hidden;
    height: 100%;
}

.header__menu_item {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    height: 100%;
    ;
}

.header__menu_item a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    height: 100%;
    display: block;
    padding: 27px 30px;
    box-sizing: border-box;
}

.container-left {
    margin-top: 51px;
    margin-left: 100px;
    border: 1px solid black;
    height: 264px;
    width: 23%;
    padding-top: 30px;
    float: left;
}

.container-left_menu {
    height: 100%;
}

.container-left_menu_item {
    list-style-type: none;
    text-decoration: none;
    height: 20%;
    width: 50%;
    padding-left: 44px;
    text-decoration: none;
    display: block;
}

.container-left_menu_item a {
    text-decoration: none;
    color: #35444F;
    font-size: 19px;
}

.container-right {
    width: 56%;
    margin-left: 51px;
    float: right;
    margin-right: 100px;
    margin-top: 51px;
}

.baran_jpg {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    border: 1px solid black;
    padding-top: 13%;
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 13%;
}

.container-right__text_1 {
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 50px;
}

.container-right__text_2 {
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 30px;
}

.container-right__text_1,
.container-right__text_2 {
    line-height: 26px;
}

.footer {
    display: block;
    float: left;
    width: 100%;
}

.footer__menu {
    height: 69px;
    background-color: #B4B7BA;
    list-style-type: none;
    float: left;
    margin: 51px 100px;
    overflow: hidden;
    width: 85%;
}

.footer__menu-item {
    padding: 24px 20px;
    box-sizing: border-box;
    float: left;
    height: 100%;
}

.footer__menu-item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    height: 100%;
    display: inline-block;
}

li:nth-last-child(1) {
    float: right;
}

.footer__menu li:nth-last-child(1) a {
    color: red;
}