    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
     :root {
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    }
    
    .container {
        margin: 0 auto;
        width: 85%;
    }
    
    .banner {
        background-image: url("../img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1\ \(1\).png");
        background-size: cover;
        height: 600px;
        color: white;
    }
    
    .banner__content {
        padding-top: 100px;
        animation: animationbanner 2s linear 1;
    }
    
    .banner__content-title {
        font-weight: 900;
        font-size: 2.4rem;
        margin-bottom: 30px;
        line-height: 55px;
    }
    
    .banner__content-subtitle {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
    
    .banner__center {
        background: #F0E5FF;
        padding-top: 135px;
        padding-bottom: 135px;
    }
    
    .banner__content-image :nth-child(2) {
        position: relative;
        left: -10%;
        -webkit-animation: banner__content-image1 2s linear infinite;
        animation: banner__content-image1 2s linear infinite;
    }
    
    @keyframes animationbanner {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: translateX(0) rotate(360deg)
        }
    }
    
    @media screen and (max-width: 800px) {
        .banner {
            display: none;
        }
    }
    
    @keyframes banner__content-image1 {
        from {
            transform: rotateZ(0)
        }
        to {
            transform: rotateZ(360deg)
        }
    }
    
    @-webkit-keyframes banner__content-image1 {
        from {
            -webkit-transform: rotateZ(0)
        }
        to {
            -webkit-transform: rotateZ(360deg)
        }
    }