                                                        body {
                                                        margin: 0;
                                                        width: 751px;
                                                        font-family: Arial, Helvetica, sans-serif;
                                                    }
                                                    
                                                    .one {
                                                        background-color: #2d7053;
                                                        width: 751px;
                                                        height: 236px;
                                                        border: 0px;
                                                    }
                                                    
                                                    .circlewhite {
                                                        background-color: white;
                                                        border-radius: 50%;
                                                        display: inline-block;
                                                        height: 142px;
                                                        width: 142px;
                                                        margin-top: 46px;
                                                        margin-left: 37px;
                                                    }
                                                    
                                                    .font1 {
                                                        height: 131px;
                                                        width: 134px;
                                                        font-family: Arial;
                                                        color: white;
                                                        line-height: 35px;
                                                        font-size: 30px;
                                                        font-weight: lighter;
                                                        font-family: Arial, MyriadPro-Regular;
                                                        display: inline-block;
                                                        position: absolute;
                                                        top: 52px;
                                                        left: 237px
                                                    }
                                                    
                                                    .polosa1 {
                                                        width: 85px;
                                                        height: 13px;
                                                        background-color: white;
                                                        display: inline-block;
                                                        border-radius: 5px;
                                                        position: absolute;
                                                        left: 621px;
                                                        top: 83px;
                                                    }
                                                    
                                                    .polosa2 {
                                                        width: 85px;
                                                        height: 13px;
                                                        background-color: white;
                                                        display: inline-block;
                                                        border-radius: 5px;
                                                        position: absolute;
                                                        left: 621px;
                                                        top: 111px;
                                                    }
                                                    
                                                    .polosa3 {
                                                        width: 85px;
                                                        height: 13px;
                                                        background-color: white;
                                                        display: inline-block;
                                                        border-radius: 5px;
                                                        position: absolute;
                                                        left: 621px;
                                                        top: 139px;
                                                    }
                                                    
                                                    .imgcomnata {
                                                        top: 235px;
                                                        border: 0px;
                                                        width: 751px;
                                                        height: 466px;
                                                        background-image: url("../img/imgcom.png");
                                                    }
                                                    
                                                    .zhltknopka {
                                                        height: 75px;
                                                        width: 342px;
                                                        background-image: url("../img/prmorange.png");
                                                        position: relative;
                                                        top: 344px;
                                                        margin: 0 auto;
                                                    }
                                                    
                                                    p.zapis1 {
                                                        margin: 0 auto;
                                                        color: white;
                                                        font-size: 17px;
                                                        position: relative;
                                                        top: 29px;
                                                        text-transform: uppercase;
                                                        text-align: center;
                                                    }
                                                    
                                                    .imyafamiliya {
                                                        border: 1px black;
                                                        margin-left: 44px;
                                                        margin-top: 73px;
                                                        width: 751px;
                                                        box-sizing: content-box;
                                                    }
                                                    
                                                    .block__3_text1 {
                                                        margin-top: 61px;
                                                        margin-left: 75px;
                                                        font-size: 36px;
                                                        box-sizing: border-box;
                                                        display: inline-block;
                                                        vertical-align: top;
                                                        width: 245px;
                                                    }
                                                    
                                                    .text {
                                                        font-size: 22px;
                                                        margin-top: 29px;
                                                    }
                                                    
                                                    .text2 {
                                                        font-family: Arial, Helvetica, sans-serif;
                                                        width: 590px;
                                                        margin-top: 50px;
                                                        font-size: 20px;
                                                    }
                                                    
                                                    .text3 {
                                                        font-size: 36px;
                                                        margin-top: 40px;
                                                        text-align: left;
                                                    }
                                                    
                                                    .text4 {
                                                        font-size: 20px;
                                                        padding-left: 20px;
                                                    }
                                                    
                                                    .zhltknopka2 {
                                                        height: 75px;
                                                        width: 342px;
                                                        background-image: url("../img/prmorange.png");
                                                        margin: 50px auto;
                                                    }
                                                    
                                                    .seruessilku {
                                                        height: 154px;
                                                        background-color: #888888;
                                                    }
                                                    
                                                    .vnutriser {
                                                        box-sizing: border-box;
                                                        top: 50%;
                                                        padding-left: 44px;
                                                        padding-bottom: 28px;
                                                        padding-top: 29px;
                                                    }
                                                    
                                                    .beluikrug {
                                                        background-color: white;
                                                        border-radius: 50%;
                                                        height: 97px;
                                                        width: 97px;
                                                        display: inline-block;
                                                    }
                                                    
                                                    .seruiblock__bel_sulki1 {
                                                        position: relative;
                                                        color: white;
                                                        margin-right: 38px;
                                                        padding-top: 74px;
                                                        text-align: right;
                                                        float: right;
                                                    }
                                                    
                                                    .seruiblock__bel_sulki2 {
                                                        position: relative;
                                                        color: white;
                                                        display: inline-block;
                                                        margin-right: 45px;
                                                        bottom: 0px;
                                                        padding-top: 10px;
                                                        padding-bottom: 10px;
                                                        line-height: 45px;
                                                        text-align: right;
                                                        float: right;