body {
    margin: 0;
    padding: 0;
    background-image: url('../img/background@1X.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 50px;
    width: 78%;
}

.header {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    display: block;
    overflow: hidden;
}

.header__left {
    width: 166px;
    position: relative;
    display: inline-block;
}

.header__left-img {
    float: left;
    padding-right: 5px;
}

.header__left-text {
    font-size: 18px;
    line-height: 24px;
}

.holidays {
    font-size: 29px;
    text-align: right;
}

.header__right {
    position: relative;
    text-align: right;
    color: white;
    display: inline-block;
    float: right;
}

.header__right a {
    color: white;
    text-decoration: none;
}

.main__part {
    padding-top: 44px;
    font-family: verdana;
}

.main__part a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: inline-block;
}

.main__part .card1__text:hover {
    color: orange;
}

.card1 {
    background-size: 313px 200px;
    background-image: url("../img/Layer_c1.png");
    height: 190px;
    width: 290px;
    background-size: cover;
    border: 2px solid rgb(92, 81, 81);
    display: inline-block;
    margin-right: 46px;
}

.card1__text {
    color: white;
    text-align: center;
    padding-top: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.card2 {
    background-size: 313px 200px;
    background-image: url("../img/Layer\ 22@1X_c2.png");
    height: 190px;
    width: 290px;
    background-size: cover;
    border: 2px solid rgb(92, 81, 81);
    display: inline-block;
    margin-right: 46px;
    justify-content: right;
}

.card3 {
    background-size: 313px 200px;
    background-image: url("../img/Layer\ 23@1X_c3.png");
    height: 190px;
    width: 290px;
    background-size: cover;
    border: 2px solid rgb(92, 81, 81);
    display: inline-block;
}

.card4 {
    background-size: 313px 200px;
    background-image: url("../img/Layer_c4.png");
    height: 190px;
    width: 290px;
    background-size: cover;
    border: 2px solid rgb(92, 81, 81);
    display: inline-block;
    margin-top: 20px;
    margin-right: 46px;
}

.card5 {
    background-size: 313px 200px;
    background-image: url("../img/Layer\ 26@1X_c5.png");
    height: 190px;
    width: 290px;
    background-size: cover;
    border: 2px solid rgb(92, 81, 81);
    display: inline-block;
    margin-top: 20px;
    margin-right: 46px;
}

.card6 {
    background-size: 313px 200px;
    background-image: url("../img/Layer\ 25@1X.png");
    height: 190px;
    width: 290px;
    background-size: cover;
    border: 2px solid rgb(92, 81, 81);
    display: inline-block;
    margin-top: 20px;
}